@font-face {
  font-family: CocaCola;
  font-weight: normal;
  font-style: normal;
  src: url("/src/assets/font/CocaCola.ttf");
}
@font-face {
  font-family: pingfang;
  font-weight: normal;
  font-style: normal;
  src: url("/src/assets/font/pingfang.ttf");
}