/* 全局样式表 */
$bg_black_global: #1A2228;
$bg_white_global: #FFFFFF;
$bg_red_global: #5c4d47;
$bg_green_global: #6db33f;
$bg_green_light_global: #80EA6E;
$bg_gray_light_global: #EBF2F2;
$bg_blue_global: #409EFF;
$bg_orange_global: #E6A23C;
$bg_yellow_global: #f5c518;


html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}

.icon {
  width: 5em;
  height: 5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
